<a href="https://colab.research.google.com/github/FaziRouzbahani/Connect-to-SQLite-using-sqlite3-library/blob/main/connect_to_SQLite_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#I created a database in SQLite and also in SSMS. I have 2 tables in XLSX format which can not be imported in SQLite and I changed it to CSV before importing.
#which it changed the column format, resulting in incorrect calculations.
#Now I am creating a database using Python, which preserved the data types of my columns and then I will save the database and work on it on SQLite.
#2 facts that make working on SSMS more easy: 1)Able to run multiple lines of queries and see the result all together 2)could import xlsx table into database easily
import pandas as pd

In [ ]:
#create two data frames
df=pd.read_excel("/content/Dataset2.xlsx")
df2=pd.read_excel("/content/Dataset1.xlsx")

In [ ]:
#There is not any problem with the data type itself, but when we import it into SQLite, It changes the data type.
df.dtypes

District      object
State         object
Area_km2       int64
Population     int64
dtype: object

In [ ]:
#create database in SQLite and
import sqlite3
conn=sqlite3.connect("India_Census.db")

In [ ]:
#import those 2 data frames into the database in SQLite
df.to_sql("Dataset2",conn,if_exists="replace",index=False)
df2.to_sql("Dateset1",conn,if_exists="replace",index=False)

640

In [ ]:
#Now we download the data base,including 2 tables, and start working on them while their data type are correct.

In [ ]:
#close the connection
conn.close()